 * {
   margin: 0;
   padding: 0;
 }

 body {
   font-family: Arial, Helvetica, Sans-serif;
 }



 h1 {
   font-weight: normal;
   padding: 10px;
   color: green;
   text-align: center;
 }

 nav {
   background-color: #111;
 }

 nav a {
   color: white;
   text-decoration: none;
 }

 nav a:hover {
   color: yellow;
 }

 nav ul {
   display: table;
   width:auto;
   margin:10px;
 }

 nav li {
   display: table-cell;
   text-align: center;
   padding: 10px 20px;
 }

  main {
   /* overflow: auto; */
   min-height: 30vh;
   /*background-color: #f7f7f7;*/
   width: 90%;
   margin: auto;
   /* box-shadow: -1000px 0 0 #f7f7f7, 1000px 0 0 #f7f7f7; */
   padding-top: 20px;
 } 

 footer {
   padding: 1em;
   background-color: #FFC9A7;
   font-size: 0.8em;
 }

 p {
   margin-bottom: 1em;
 }

 body {
   font-size: 1.2em;
   font-family: arial, helvetica, sans-serif
 }
.incomeedit{float: left; overflow: hidden;}
.incomeedit select{padding: 0;}
 .forall input, label, select, textarea {   width:100px;    margin-bottom: 1px;    padding: 3px;  }
 
 .forall label { clear: left; padding: 0;  margin: 0;}
 
 .forall input[type="submit"] {   margin: 10px;   width: auto;   padding:5px 10px;   clear: both;   font-size: 1em; }
 .forall form {overflow: auto;   clear: both;   display: block; }

  .forforminput input[type="submit"] {margin-left:0.5em; background-color: #FFC9A7;   width: auto;   padding: 0;   clear: both;   font-size:10px; }
 .forforminput input, label, select, textarea { padding: 3px;  }
 
 .forall form {overflow: auto;   clear: both;   display: block; }

 /* blockquote {
   display: table;
   margin-bottom: 1em;
   border-bottom: 1px solid #ccc;
   padding: 0.5em;
 }

 blockquote p {
   display: table-cell;
   width: 90%;
   vertical-align: top;
 }

 blockquote form {
   display: table-cell;
   width: 10%;
 } */

 .errors {
   padding: 1em;
   border: 1px solid red;
   background-color: lightyellow;
   color: red;
   margin-bottom: 1em;
   overflow: auto;
 }

 .errors ul {
   margin-left: 1em;
 }

 form p {
   clear: both;
 }

 input[type="checkbox"] {
   float: left;
   clear: left;
   width: auto;
   margin-right: 10px;
 }

 input[type="checkbox"]+label {
   clear: right;
 }

 .jokelist {
   display: table;
 }

 .categories {
   display: table-cell;
   width: 20%;
   background-color: #333;
   padding: 1em;
   list-style-type: none;
 }

 .categories a {
   color: white;
   text-decoration: none;
 }

 .categories li {
   margin-bottom: 1em;
 }

 .jokelist .jokes {
   display: table-cell;
   padding: 1em;
 }
 table,
 td,
 th {
   border: 1px solid;
 }

 table {
   width: 100%;
   border-collapse: collapse;
 }